@import "~bootstrap/scss/bootstrap";

.container-fluid{
    .row{
        .col{
            padding-left: 0;
            padding-right: 0;
            .navbar-light{
                .navbar-nav{
                    .nav-link{
                        color:white;
                    }
                }
                .navbar-brand{
                    color:white;
                    font-size: 25px;
                    font-weight: 500;
                }
                .navbar-collapse{
                    .navbar-nav{
                        .nav-item{
                            margin-right: 10px;
                            svg{
                                margin-right: 10px;
                            }
                            .dropdown-toggle::after{
                                display: none;
                                margin-left: 0;
                                vertical-align: 0;
                                content: none;
                                border-top:0;
                                border-right: 0;
                                border-bottom: 0;
                                border-left: 0;
                            }
                        }

                    }
                }
            }
        }
    }
}