@import "~bootstrap/scss/bootstrap";
.container-fluid{
    .row{
        .col{
            text-align: center;
            #second-section-text{
                padding-top: 20px;
                font-weight: bold;
            }

                .header-images{
                   display: flex;
                   justify-content: center;
                   flex-direction: column;
                   text-align: center;
                    margin:20px;
                    img{
                        margin: 0 auto;
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        margin-bottom: 10px;
                        border: 2px solid blue;
                    }
                }
            
            
        }
    }
}
