@import "~bootstrap/scss/bootstrap";
.container{
    .row{
        
        .col{
         margin: 0 auto;
         img{
             height: 100px;
         }
         form{
             width:40%;
             margin: 0 auto;
         }
        }
    }
}